.text-center {
    text-align: center;
}

.bg-red {
    background-color: red;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;  /* or inline */
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}